*   {
    text-align: center;
    font-family: 'Indie Flower', cursive;
}
.weather_icon {
    width:25%;
    height:25%;
}

.gifs   {
    width:30%;
    height:30%;;
    margin:0;
}

h1{
    font-size: 300%;
    margin:0;
}

h2{
    font-size: 250%;
    margin:0;
}

h3{
    font-size: 200%;
    margin:0;
}

h5{
    font-size: 180%;
    margin:0;
}